body {

    font-family: Arial;
    text-align: center;
}


input {

    padding: 8px;
    margin: 5px;

}


button {

    padding: 8px 15px;
    cursor: pointer;

}


pre {

    font-size: 18px;

}



#colorBox {

    width: 300px;
    height: 150px;

    background-color: lightblue;

    margin: 20px auto;

    display: flex;

    justify-content: center;
    align-items: center;


    transition: 0.5s;

    border: 2px solid black;

}